@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    max-width: 100vh;
    height: auto;
    margin: 0;
    background-color: #212121;

}

.foto {
    width: 100%;
    height: 70vh;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.fade {
    width: 100%;
    height: 20vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,212,255,0) 100%);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    font-family: 'Bebas Neue', sans-serif;
    color: aliceblue;
}

.logo {
    position: sticky;
    top: 0;
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/original.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 0px 6px 20px -2px #000000;
}

.cardapio {
    color: aliceblue;
    max-width: 100%;
}

.cardapio .title {
    font-size: 10vw;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.collapse {
    width: 100vw;
    padding: 10px 0px 8px 10px;
    background-color: #1a1a1a;
    color: aliceblue;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -3px #000000;
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    font-size: 8vw;
}

.group {
    width: 97vw;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px -3px #000000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.product {
    display: fixed;
    padding: 3px 5px 3px 5px;
}

.nome {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}

.descricao {
    font-family: sans-serif;
    font-size: 15px;
}

.preco {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    text-align: right;
}

.manutencao {
    width: 100%;
    height: 150vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Noun_Project_maintenance_icon_943595_cc.svg/110px-Noun_Project_maintenance_icon_943595_cc.svg.png?20180327221008);
    background-repeat: no-repeat;
    background-size: 25vh;
    background-position: top;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
}