<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar do Malhado</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="foto">
    <div class="fade">
        <p>Cardápio</p>
    </div>
</div>
<div class="logo"></div>

<!-- <div class="manutencao">
    <h1>Ainda não estamos prontos!</h1>
</div> -->

<div class="cardapio">
    <div class="comidas">
        <h1 class="title">Comidas</h1>
        <hr>
        {% for grupo in gruposcomidas %}
            <button type="button" class="collapse">{{ grupo[0] }}</button>
            <div class="group">
                {% for produto in comidas %}
                    {% if produto[1] == grupo[0] %}
                        <div class="product">
                            <div class="left">
                                <h3 class="nome">{{ produto[2] }}</h3>
                                {% if produto[3] != ' ' %}
                                    <h4 class="descricao">{{ produto[3] }}</h4>
                                {% endif %}
                            </div>
                            <div class="right">
                                {% if produto[4] != 0.00 %}
                                    <h2 class="preco">{{ "R$" ~ produto[4] }}</h2>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="bebidas">
        <h1 class="title">Bebidas</h1>
        <hr>
        {% for grupo in gruposbebidas %}
            <button type="button" class="collapse">{{ grupo[0] }}</button>
            <div class="group">
                {% for produto in bebidas %}
                    {% if produto[1] == grupo[0] %}
                        <div class="product">
                            <div class="left">
                                <h3 class="nome">{{ produto[2] }}</h3>
                                {% if produto[3] != '' %}
                                    <h4 class="descricao">{{ produto[3] }}</h4>
                                {% endif %}
                            </div>
                            <div class="right">
                                {% if produto[4] != 0.00 %}
                                    <h2 class="preco">{{ "R$" ~ produto[4] }}</h2>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
        {% endfor %}
        </div>
    </div>
</div>

<button type="button" class="collapse" style="margin-top: 50px; text-align: center;">Pagar com PIX</button>
<div class="group">
    <form action="/pagar" method="post">
        <input type="number" step=".01" onkeyup="oneDot(this)" name="valor" id="valor" value="00.00">
        <button type="submit" class="enviar">Gerar QR Code</button>
    </form>
</div>

<script>
    const checkpoint = 500

    window.addEventListener("scroll", () => {
        const currentScroll = window.pageYOffset
        if (currentScroll <= checkpoint) {
            height = 30 - currentScroll/25
            gray = currentScroll/5
        } else {
            height = 10
            gray = 100
        }
        document.querySelector(".logo").style.height = height+'vh'
        document.querySelector(".logo").style.filter = `grayscale(${gray}%)`
    })

    var coll = document.getElementsByClassName("collapse");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        }
        });
    }

    function oneDot(input) {
        let value = input.value
        value = value.split('.').join('')
        
        if (value.length <= 2) {
            value =  '00.' + value.substring(value.length - 2, value.length)
        }
        else {
            value = value.substring(0, value.length - 2) + '.' + value.substring(value.length - 2, value.length)
            if (value.substring(0, 2) == '00') { value -= value.substring(0, 2)} else if (value.substring(0, 1) == '0') {value -= value.substring(0, 1)}
        }
        
        input.value = value
    }
</script>
</body>
</html>