<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="window">
        <p id="title">Insira a senha:</p>
        <form method="post">
            <input type="password" name="senha" id="senha" placeholder="Senha" autofocus>
            <button type="submit">Entrar</button>
        </form>
        {% if msg %}
            <p id="incorreto">{{ msg }}</p>
        {% endif %}
    </div>
</body>
</html>